@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<dynamic>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - OKState Department</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header class="topbar">
    <div class="topbar-inner container">
        <a class="brand"  href="/">OKSTATE.EDU</a>
    </div>
</header>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">


    @RenderBody()

    <footer class="site-footer">
        <div class="container footer-grid">
            <div class="footer-col">
                <h4>Facilities Management</h4>
                <ul>
                    <li><a href="/">About Facilities Management</a></li>
                    <li><a href="/departments">Departments</a></li>
                    <li><a href="/service-request">Careers</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Contact</h4>
                <p>Stillwater, OK 74078<br/>(XXX) XXX-XXXX</p>
            </div>

            <div class="footer-col">
                <h4>Follow OSU</h4>
                <ul class="socials">
                    <li><a href="#">News</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">YouTube</a></li>
                </ul>
            </div>
        </div>

        <div class="container copyright">
            <p>© Oklahoma State University. All rights reserved.</p>
            <p class="small-links">
                <a href="#">Accessibility Services</a> |
                <a href="#">Privacy Notice</a> |
                <a href="#">Terms of Service</a>
            </p>
        </div>
    </footer>
</body>
</html>
