@page
@model IndexModel
@{

    ViewData["Title"] = "Home Page";
}
<main class="container">
    <div class="OSU-header">
        <img src="Images/osu-logo.png" alt="image of osu logo" class="LogoImage">
        <div class="header-text">
            <h2>OKLAHOMA STATE UNIVERSITY </h2>
            <h1>AMBIGUOUS DEPARTMENT</h1>
            <nav>
                <div class="nav">
                    <a>About Us&nbsp;&nbsp;</a>
                    <a>Careers&nbsp;&nbsp;</a>
                    <a>Departments&nbsp;&nbsp;</a>
                    <a>Service Request&nbsp;&nbsp;</a>
                    <a>AD Employees&nbsp;&nbsp;</a>
                </div>
            </nav>
        </div>
        </div>
        
    
    <nav class="breadcrumbs banner">
        <span>Ambiguous Department</span>
    </nav>
    
    <section>
    <header class="page-header">
        <h1>Ambiguous Department</h1>
        
    </header>
    <div>
        <h2 class="subtitle">Our Mission</h2>
        <section class="intro">
            <p>
                Here at the Ambiguous Department under Oklahoma State University we will never be entirely certain about
                what we can and cannot tell you about what we do. It is important that we keep our inner-workings unknown
                and our staff's identities hidden. Why you are still reading this when this is clearly just filler text? 
                Good question, you tell me. So next time you wonder how important ambiguity is in the world we live in,
                remember that we won't tell you. Welcome to the Ambiguous Department.
            </p>
            <p><a class="btn" href="#">More About Us</a></p>
        </section>
    </div>
    
    @*SECTION THAT JESS IS CODING*@
    <header class="page-header">
        <h1>Our Team</h1>
    </header>
    <section class="team-contact grid">
        <article class="col">
            
            <img src="Images/es-staff-1.jpg" alt="Energy Services Staff Image" class="staff-image" />
            <div class="Text-Color-Grid">
                <h2>→ Staff Directory</h2>
                <h2>→ Energy Services Organizational Chart</h2>
            </div>
            
        </article>
 
        <aside class="col contact-box">
            <h3>Contact Us</h3>
            <address>
                Ambiguous Department HQ<br />
                Engineering South Bld. 0027<br />
                124 N Hester Street<br />
                Stillwater, OK, 74075
            </address>

            <p><strong>Office Hours Phones:</strong><br/>
            XXX-XXX-XXXX<br/>
            XXX-XXX-XXXX</p>

            <p><strong>After Hours Phone:</strong><br/>
                XXX-XXX-XXXX</p>

            <p><a class="btn" href="https://workorder.okstate.edu" target="_blank" rel="noopener">Submit a work request</a></p>
        </aside>
    </section>

    <section class="pill-container">
        <h3>Ambiguous Departments</h3>
        <ul class="org-list pill-container">
            <li><a href="#" class="pill">Taxes Department</a></li>
            <li><a href="#" class="pill">R&R Department</a></li>
            <li><a href="#" class="pill">Human Resources</a></li>
            <li><a href="#" class="pill">Quantum Computing</a></li>
            <li><a href="#" class="pill">Quality Assurance</a></li>
        </ul>
        
    </section>
    </section>
</main>
